//IMPORTS\\//\\//\\//\\//\\//\\//\\
    @use '../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\ 

.form-contact {
    width: 100%;
    background-color: $primary;
    border-radius: $borderRadius-md;
    padding: $spacing-6 $spacing-4;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: $spacing-5;

    .logo {
        width: 138px;
    }

    h2 {
        text-align: center;
        color: $white;
        font-size: 25px;
        font-weight: $fontWeight-extrabold;
    }
    h3 {
        text-align: center;
        color: $white;
        font-size: 24px;
        font-weight: $fontWeight-extrabold;
    }

    .inputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: $spacing-2;

        .checkboxs {
            display: flex;
            flex-direction: column;
            row-gap: $spacing-2;
            margin-top: $spacing-4;
        }
        .btn-primary {
            max-width: 100%;
            margin-top: $spacing-4;
            height: 50px;

            @include breakpoint (mobile) {
                height: auto;
            }
        }
    }
}