@import 'Settings';

section.index-choose {
    padding-bottom: $spacing-20;

    .choose {
        max-width: 1392px;

        h2 {
            text-align: center;
            color: $primary;
            margin-bottom: $spacing-6;
        }
        &__cards {
            display: flex;
            flex-wrap: wrap;
            gap: $spacing-10 $spacing-12;
            background-color: #F5F5F5;
            border-radius: $borderRadius-sm;
            padding: $spacing-13;

            .card-choose {
                width: 100%;
                max-width: 608px;
                display: flex;
                align-items: flex-start;
                column-gap: $spacing-4;

                span {
                    color: $primary;
                    font-weight: $fontWeight-bold;
                }
            }
        }
    }

    @include breakpoint (mobile) {
        padding: $spacing-5 0;

        .choose {
            h2 {
                margin-bottom: $spacing-4;
            }

            &__cards {
                flex-wrap: wrap;
                gap: $spacing-5;
                padding: $spacing-4;

                .card-choose {
                    align-items: center;

                    img {

                    }
                }
            }
        }
    }
}
