//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.work-mission {
    @include bg-img('work/mission.png');
    padding: $spacing-25 0;

    .mission {
        .content {
            max-width: 838px;
            color: $primary;

            &--title {
                display: flex;
                align-items: center;
                column-gap: $spacing-4;
                margin-bottom: $spacing-4;

                h2 {
                    font-weight: $fontWeight-bold;
                    text-transform: uppercase;
                }
            }
            h5 {
                font-weight: $fontWeight-semibold;
            }
        }
    }

    @include pseudo (
        before,
        $content: url('../image/pseudo/work-mission.png'),
        $right: 0,
        $bottom: -$spacing-13
    );

    @include breakpoint (mobile) {
        background-image: none;
        background-color: $gray-100;
        padding: $spacing-8 0;

        .mission {
            .content {
                max-width: 838px;
                color: $primary;

                &--title {
                    display: flex;
                    align-items: center;
                    column-gap: $spacing-4;
                    margin-bottom: $spacing-4;

                    h2 {
                        font-weight: $fontWeight-bold;
                        text-transform: uppercase;
                    }
                }
                h5 {
                    font-weight: $fontWeight-semibold;
                }
            }
        }

        &::before {
            display: none;
        }
    }
}
