//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.work-oport {
    padding: $spacing-24 0 $spacing-8;

    .oport {
        max-width: 1154px;
        margin-inline: auto;

        &--text {
            text-align: center;
            color: $primary;

            h2 {
                text-transform: uppercase;
                font-weight: $fontWeight-bold;
                margin-bottom: $spacing-4;
            }
            h5 {
                font-weight: $fontWeight-semibold;
            }
        }
    }

    @include breakpoint (mobile) {
        padding: $spacing-5 0;

        .oport {
            &--text {

                h2 {
                    margin-bottom: $spacing-2;
                }
            }
        }
    }
}
