//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.header {
    padding: $spacing-6 0 0;

    .content {
        max-width: 1496px;
        display: flex;
        align-items: center;
        column-gap: $spacing-25;
        margin-bottom: $spacing-6;

        .aside {
            display: flex;
            flex-direction: column;

            &__contact {
                display: flex;
                align-items: center;
                column-gap: $spacing-5;

                .icons {
                    display: flex;
                    column-gap: $spacing-5;
                    align-items: center;
                }
            }
            &__search {
                margin-top: $spacing-4;
                display: flex;
                align-items: center;
                column-gap: $spacing-5;
            }
        }
    }

    &.menu-fixed {
        &.fixed {
            display: block;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            padding: 0;
            // border-bottom: $borderWidth-thin solid $primary;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(11px);
            -webkit-backdrop-filter: blur(11px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 0 0 $borderRadius-md $borderRadius-md;
            .navegation {
                padding: 20px 0;
            }
            .content {
                display: none;
                // transform: scale(0.8);
                // margin-bottom: $spacing-2;
            }
        }
    }

    @include breakpoint(mobile) {
        padding: $spacing-3 0;

        .content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            row-gap: $spacing-2;
            margin-bottom: 0;

            .form-search {
                order: 2;
            }
            .aside {
                order: 2;
                row-gap: $spacing-3;

                &__search {
                    order: 1;
                }
                &__contact {
                    order: 2;
                    flex-wrap: wrap;
                    row-gap: $spacing-3;
                    column-gap: $spacing-5;
                    justify-content: center;
                }
            }
            .menu-top {
                order: 1;
                width: 100%;
                // order: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    width: 100px;
                }
                a {
                    display: block;
                    color: white;

                    i {
                        color: white;
                    }
                    &:nth-child(1) {
                        position: relative;
                        z-index: 2;
                        transition: all 0.5s ease-in-out;
                        i {
                            color: $primary;
                        }

                        &.active {
                            i {
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .line {
                        fill: none;
                        stroke: $secondary;
                        stroke-width: 6;
                        transition:
                            stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    .line1 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }
                    .line2 {
                        stroke-dasharray: 60 60;
                        stroke-width: 6;
                    }
                    .line3 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }

                    &.active {
                        .line1 {
                            stroke-dasharray: 90 207;
                            stroke-dashoffset: -134;
                            stroke-width: 6;
                        }
                        .line2 {
                            stroke-dasharray: 1 60;
                            stroke-dashoffset: -30;
                            stroke-width: 6;
                        }
                        .line3 {
                            stroke-dasharray: 90 207;
                            stroke-dashoffset: -134;
                            stroke-width: 6;
                        }
                    }
                }
            }
        }
    }
}
