//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.course-inner {
    padding: 105px 0 120px;

    .inner {
        display: flex;
        align-items: flex-start;
        column-gap: 182px;

        form {
            width: 100%;
            max-width: 770px;
            .inputs {
                display: flex;
                flex-direction: column;
                row-gap: $spacing-7;

                .btn-primary {
                    width: 100%;
                    max-width: 240px;
                    margin: 0 0 0 auto;
                    border-radius: $borderRadius-sm;
                }
            }
        }

        &__aside {
            .next-course {
                margin-bottom: $spacing-25;
                h2 {
                    text-align: center;
                    color: $primary;
                    font-weight: $fontWeight-semibold;
                    font-size: 35px;
                    margin-bottom: $spacing-5;
                }
            }
            .card-contact{
                &__content {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    @include breakpoint (mobile) {
        padding: $spacing-5 0;

        .inner {
            flex-wrap: wrap;
            row-gap: $spacing-5;

            form {
                .inputs {
                    row-gap: $spacing-4;
                }
            }

            &__aside {
                .next-course {
                    margin-bottom: $spacing-10;
                    h2 {
                        font-size: $mobileHeading-h2;
                        margin-bottom: $spacing-3;
                    }
                }
            }
        }
    }
}
