//IMPORTS\\//\\//\\//\\//\\//\\//\\
@use '../../settings/' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\

section.barra-lgpd {
    padding: 2px 15px;
    background-color: #eeeeee;
    border-bottom: 1px solid gainsboro;
    font-size: 12px;
    width: 100%;
    z-index: 502;
    color: gray;
    display: none;
    position: relative;
    @include transitionDelay(0.5s, all);

    @media (max-width: 991px) {
        border: none;
        padding: 10px;
        bottom: 52px;
        position: fixed;
        top: auto;

        .container {
            padding: 0;

            .conteudo-lgpd-in {
                .txt-in {
                    &__links {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    &.exibir {
        display: block;
    }

    .row,
    .container {
        max-width: 1770px !important;
        margin: auto;
        justify-content: center;

        .conteudo-lgpd-in {
            display: flex;
            align-items: center;

            .txt-in {
                width: 100%;
                column-gap: $spacing-1;

                &__links {
                    display: flex;
                    column-gap: $spacing-2;

                    a {
                        color: gray;
                        font-weight: 500;
                        text-decoration: none;
                        border-bottom: 1px dotted gray;
                        max-width: fit-content;
                    }
                }
            }

            .button-in {
                button {
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 12px;
                    font-weight: 500;
                    margin-left: 20px;
                    padding: 5px 10px;
                    margin: 5px 0 5px 15px;
                    color: gray;
                    border: 1px solid gray;
                    outline: none;
                    border-radius: 3px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    line-height: 1;
                    @include transitionDelay(0.3s, all);

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }

            @media screen and (max-width: 991px) {
                flex-direction: column;

                .button-in {
                    text-align: center;

                    button {
                        margin-top: 10px;
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
