//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.products-relation {
    padding: 94px 0 120px;
    @include bg-img('product/confira.png');

    .relation {
        h2 {
            text-align: center;
            color: $primary;
            font-weight: $fontWeight-bold;
            text-transform: uppercase;
            margin-bottom: $spacing-16;

            strong {
                color: #E63439;
            }
        }
        .products-slider {
            max-width: 1160px;
            margin-inline: auto;

            .p-box {
                padding: 10px 5px;
                height: 100%;
            }

            .card-product {
                filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
                height: 100%;
            }

            .owl-nav {
                width: 115%;
                position: absolute;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, -50%);
            }
            .owl-dots {
                margin-top: $spacing-6;
            }
            .owl-stage {
                align-items: stretch;
            }
        }
        .btn-primary {
            &.tertiary {
                margin: $spacing-5 auto 0;
            }
        }
    }

    @include breakpoint (mobile) {
        padding: 0 0 $spacing-5;
        background-image: none;

        .relation {
            h2 {
                font-size: 21px;
                margin-bottom: $spacing-5;
            }
            .products-slider {
                .card-product {
                    margin-inline: auto;
                }
                .owl-nav {
                    width: 100%;
                }
                .owl-dots {
                    margin-top: $spacing-4;
                }
            }
            .btn-primary {
                &.tertiary {
                    margin: $spacing-3 auto 0;
                }
            }
        }
    }
}
