//IMPORTS\\//\\//\\//\\//\\//\\//\\||\\
@use '../../../settings' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\||\\

section.products-index {
    padding: $spacing-15 0 $spacing-25;

    .index {
        max-width: 1512px;
        display: flex;
        align-items: flex-start;
        gap: $spacing-6;

        &__aside {
            width: 100%;
            max-width: 344px;
            display: flex;
            flex-direction: column;
            row-gap: $spacing-7;

            .search {
                h5 {
                    color: $primary;
                    font-weight: $fontWeight-semibold;
                    margin-bottom: $spacing-2;
                }
            }
        }
        &__content {
            width: 100%;
            .cards {
                display: flex;
                flex-wrap: wrap;
                gap: $spacing-13 $spacing-4;
            }
        }
    }

    @include breakpoint (mobile) {
        padding: $spacing-5 0;

        .index {
            flex-wrap: wrap;
            gap: $spacing-4;

            &__aside {
                row-gap: $spacing-5;
                order: 2;
            }
            &__content {
                order: 1;
                .cards {
                    justify-content: center;
                    gap: $spacing-5;
                }
            }
        }
    }
}
