//*Animations - (Animações)
//Tokens de animações tempo de animacão, tipo, etc...

//?TEMPOS DE ANIMAÇÃO

$instant: 0ms;   //0s
$faster:  100ms; //0.1s
$fast:    200ms; //0.2s
$normal:  300ms; //0.3s
$slow:    400ms; //0.4s
$slower:  500ms; //0.5s