//TAMANHOS
/*
*Tokens de tamahos
*cada tamanho equivale a 4px a partir do ($size-2),8px a partir de ($size-9),
*/

//itens pequenos - hr...
$size-1: 0.125rem; //2px     |
$size-2: 0.25rem;  //4px     ||

$size-3: 0.50rem;  //8px     |||
$size-4: 0.75rem;  //12px    ||||
$size-5: 1rem;     //16px    |||||
$size-6: 1.25rem;  //20px    ||||||
$size-7: 1.5rem;   //24px    |||||||
$size-8: 1.75rem;  //28px    ||||||||
$size-9: 2rem;     //32px    |||||||||

$size-10: 2.5rem;  //40px    |||||||||||
$size-11: 2.75rem; //44px    ||||||||||||
$size-12: 3rem;    //48px    ||||||||||||||
$size-13: 3.5rem;  //56px    ||||||||||||||||
$size-14: 4rem;    //64px    ||||||||||||||||||
$size-15: 4.5rem;  //72px    ||||||||||||||||||||
