//IMPORTS\\//\\//\\//\\//\\//\\//\\
    @use '../../settings/' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\

ul.pagination {
    display: flex;
    margin-top: $spacing-8;
    align-items: center;
    justify-content: center;

    li {
        list-style: none;

        a {
            width: 40px;
            height: 40px;
            border-radius: $borderRadius-full;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #090909;
            font-size: $paragraph-sm;
            font-weight: $fontWeight-bold;
            @include transitionDelay();
            font-family: sans-serif;

            &.active, &:hover {
                background: rgba(175, 175, 175, 0.5);
            }
        }
    }
}

