//IMPORTS\\//\\//\\//\\//\\//\\//\\
@use '../../settings/' as *;
//\\//\\//\\//\\//\\//\\//\\//\//\\

.video-modal {
	width: 400px;
	height: 300px;
	background-size: cover;
	border-radius: $borderRadius-lg;
	display: grid;
	place-items: center;
	
	&--play {
		transition: img 0.5s linear;
		&:hover { 
			transform: scale(1.1);
		}
	}
	//Variations
}